* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto;
    font-weight: 100;
    src: url("../assets/fonts/heebo/Heebo-ExtraLight.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 200;
    src: url("fonts/Roboto/Roboto-Light.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url("fonts/Roboto/Roboto-Thin.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 400;
    src: url("fonts/Roboto/Roboto-Regular.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url("fonts/Roboto/Roboto-Medium.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 600;
    src: url("fonts/Roboto/Roboto-SemiBold.ttf");
  }
  @font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url("fonts/Roboto/Roboto-Bold.ttf");
  }


body{
    font-family: roboto;
}


/* HEADER BELOW*/

h1{
    font-size: 48px;
    font-weight: 900;
}

h3{
    font-size: 24px;
}


ul{
    list-style-type: none;
    display: flex; 
    gap: 16px;
}

li a{
    text-decoration: none;
    color: #E5E7EB;
}

.headcon img{
    width: 500px;
    height: 300px;
    align-self: center;   
}

.header{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    flex-direction: column;
    padding: 12px 250px 120px 180px;  
}

.header p{
    color: #E5E7EB;
    font-size: 18px;
}

.headhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    
}


.headcon{
    display: flex;
    gap: 16px;
    padding-top: 80px;
}

.info{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 16px;
}

.sign{
    flex-grow: 0;
    background-color: #3882F8;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 36px;
    font-weight: 600;
    
    align-self: flex-start;
}

.headcon p,
.headhead ul{
    font-size: 18px;
    color: #E5E7EB;
}
/* HEADER ABOVE*/



/* MIDDLE SECTION BELOW*/
.middle{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */

    padding: 60px;
    color: #1F2937;
    /* gap: 60px; */
}

.middle h2{
    display: block;
    text-align: center;
    width: 800px;
    max-width: 100%;
    font-size: 36px;
    font-weight: bolder;
    margin: 0px auto;
    margin-bottom: 60px;
    
}

.middle ul{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    
}

.middle ul p{
    margin: 12px;
    
}
.middle li{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 275px;
    text-align: center;
}

.middle img{
    width: 275px;
    height: auto;
    
}
/* MIDDLE SECTION ABOVE*/


/* QUOTE SECTION BELOW*/
.quote-section{
    display: flex;
    flex-direction: column;
    padding: 140px 200px;
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.quoter-of{
    align-self: flex-end;
    font-size: 24px;  
    color: #1F2937;
    margin: 16px;
    font-weight: bold;
}
/* QUOTE SECTION ABOVE*/


/* SIGN UP SECTION BELOW*/
.action-section{
    padding: 96px 192px;
    
}

.action-banner{
    display: flex;
    background-color: #3882F8;
    color:#F9FAF8;
    border-radius: 12px;
    border: 2px solid;
    padding: 40px 96px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.action-banner p{
    margin: 2px;
    font-size: 16px;
}

.sign-button{
    background-color: #3882F8;
    border-color: #F9FAF8;
    color: #F9FAF8;
    border-radius: 8px;
    border: 2px solid;
    padding: 2px 36px;
    margin: 6px;
    font-size: 16px;
    font-weight: bolder;
    transition: 750ms;
}

.sign-button:hover{
    background-color: #81aff8;
    cursor: pointer;
}

.footer{
    
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 48px;
}
